src/FeedReader/Service References/AccountService/AccountService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FeedService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FeedService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceOptions" nillable="true" type="tns:ArrayOfServiceOption" />
      <xs:element minOccurs="0" name="TimeZoneCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="ArrayOfServiceOption">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceOption" nillable="true" type="tns:ServiceOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceOption" nillable="true" type="tns:ArrayOfServiceOption" />
  <xs:complexType name="ServiceOption">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="EffectiveEndDateUtc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EffectiveStartDateUtc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OptionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceOptionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOption" nillable="true" type="tns:ServiceOption" />
</xs:schema>