src/FeedReader/Service References/AccountService/AccountService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52238/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FeedService.Model" />
  <xs:import schemaLocation="http://localhost:52238/AccountService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FeedService.Contract.AccountService" />
  <xs:import schemaLocation="http://localhost:52238/AccountService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FeedService.Contract" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FeedService.Model" minOccurs="0" name="newAccount" nillable="true" type="q1:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FeedService.Contract.AccountService" minOccurs="0" name="RegisterResult" nillable="true" type="q2:RegisterResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FeedService.Contract.AccountService" minOccurs="0" name="FindAccountResult" nillable="true" type="q3:FindAccountResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Deactivate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FeedService.Contract" minOccurs="0" name="DeactivateResult" nillable="true" type="q4:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FeedService.Model" minOccurs="0" name="option" nillable="true" type="q5:ServiceOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FeedService.Contract.AccountService" minOccurs="0" name="AddOptionResult" nillable="true" type="q6:AddOptionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceOptionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FeedService.Contract" minOccurs="0" name="RemoveOptionResult" nillable="true" type="q7:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>