src/FeedReader/Service References/AccountService/AccountService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FeedService.Contract.AccountService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FeedService.Contract.AccountService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52238/AccountService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FeedService.Contract" />
  <xs:import schemaLocation="http://localhost:52238/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FeedService.Model" />
  <xs:complexType name="RegisterResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/FeedService.Contract" base="q1:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisterResult" nillable="true" type="tns:RegisterResult" />
  <xs:complexType name="FindAccountResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/FeedService.Contract" base="q2:Result">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FeedService.Model" minOccurs="0" name="Account" nillable="true" type="q3:Account" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FindAccountResult" nillable="true" type="tns:FindAccountResult" />
  <xs:complexType name="AddOptionResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/FeedService.Contract" base="q4:Result">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddOptionResult" nillable="true" type="tns:AddOptionResult" />
</xs:schema>