src/FeedReader/Service References/AccountService/AccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52238/AccountService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52238/AccountService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52238/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FeedService.Model" />
      <xsd:import schemaLocation="http://localhost:52238/AccountService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FeedService.Contract.AccountService" />
      <xsd:import schemaLocation="http://localhost:52238/AccountService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FeedService.Contract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IAccountService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_FindAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountService_FindAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_Deactivate_InputMessage">
    <wsdl:part name="parameters" element="tns:Deactivate" />
  </wsdl:message>
  <wsdl:message name="IAccountService_Deactivate_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeactivateResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_AddOption_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOption" />
  </wsdl:message>
  <wsdl:message name="IAccountService_AddOption_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOptionResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_RemoveOption_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveOption" />
  </wsdl:message>
  <wsdl:message name="IAccountService_RemoveOption_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveOptionResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/Register" message="tns:IAccountService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/RegisterResponse" message="tns:IAccountService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/FindAccount" message="tns:IAccountService_FindAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/FindAccountResponse" message="tns:IAccountService_FindAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Deactivate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/Deactivate" message="tns:IAccountService_Deactivate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/DeactivateResponse" message="tns:IAccountService_Deactivate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOption">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/AddOption" message="tns:IAccountService_AddOption_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/AddOptionResponse" message="tns:IAccountService_AddOption_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveOption">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/RemoveOption" message="tns:IAccountService_RemoveOption_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/RemoveOptionResponse" message="tns:IAccountService_RemoveOption_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountService" type="tns:IAccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IAccountService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAccount">
      <soap:operation soapAction="http://tempuri.org/IAccountService/FindAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deactivate">
      <soap:operation soapAction="http://tempuri.org/IAccountService/Deactivate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOption">
      <soap:operation soapAction="http://tempuri.org/IAccountService/AddOption" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveOption">
      <soap:operation soapAction="http://tempuri.org/IAccountService/RemoveOption" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="BasicHttpBinding_IAccountService" binding="tns:BasicHttpBinding_IAccountService">
      <soap:address location="http://localhost:52238/AccountService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>